    PUSHI 0 // Initial stack value for global 'nomeUsuario' (gp[0])
    START // Initialize Frame Pointer = Stack Pointer
    JUMP mainLabel0 // Jump over nested function/proc definitions
procMostrarSaudacao1:
    // Param 'nome' at FP-1
    PUSHS "Olá, "
    WRITES
    PUSHL -1 // Push value of param 'nome'
    WRITES
    PUSHS "! Seja bem-vindo ao programa em Pascal."
    WRITES
    WRITELN
    RETURN // Return from procedure MostrarSaudacao
mainLabel0:
    PUSHS "Digite seu nome:"
    WRITES
    WRITELN
    READ // Read string input for 'nomeUsuario'
    STOREG 0 // Store to global 'nomeUsuario'
    PUSHG 0 // Push global 'nomeUsuario'
    PUSHA procMostrarSaudacao1 // Push address of MostrarSaudacao
    CALL
    STOP // End of program
