    PUSHI 0 // Initial stack value for global 'sum' (gp[0])
    PUSHI 0 // Initial stack value for global 'product' (gp[1])
    PUSHI 0 // Initial stack value for global 'square' (gp[2])
    PUSHI 0 // Initial stack value for global 'lengthOfWord' (gp[3])
    PUSHI 0 // Initial stack value for global 'len2' (gp[4])
    PUSHI 0 // Initial stack value for global 'palavra' (gp[5])
    START // Initialize Frame Pointer = Stack Pointer
    PUSHS "Hello, Pascal!"
    WRITES
    WRITELN
    PUSHI 2
    PUSHI 3
    ADD
    STOREG 0 // Store to global variable 'sum'
    PUSHI 4
    PUSHI 5
    MUL
    STOREG 1 // Store to global variable 'product'
    PUSHI 6
    PUSHI 6
    MUL
    STOREG 2 // Store to global variable 'square'
    PUSHI 6
    STOREG 2 // Store to global variable 'square'
    PUSHG 2 // Push global 'square'
    DUP 1
    MUL
    STOREG 2 // Store to global variable 'square'
    PUSHI 6
    PUSHI 0
    SWAP
    SUB // Integer negation
    STOREG 2 // Store to global variable 'square'
    PUSHI 6
    PUSHI 0
    SWAP
    SUB // Integer negation
    DUP 1 // ABS - Check if is negative
    PUSHI 0
    INF
    JZ absEnd0 // If not (val < 0), jump to end
    PUSHI 0 // Making negative
    SWAP
    SUB
absEnd0:
    STOREG 2 // Store to global variable 'square'
    PUSHI 6 // Folded Length('Pascal')
    STOREG 3 // Store to global variable 'lengthOfWord'
    PUSHS "hello"
    STOREG 5 // Store to global variable 'palavra'
    PUSHG 5 // Push global 'palavra'
    STRLEN // VM STRLEN for Length
    STOREG 4 // Store to global variable 'len2'
    STOP // End of program
